<form action="/favourites" method="POST">
  <button type="submit" class="bg-gradient-to-r from-purple-400 to-purple-600 text-white px-6 py-3 rounded-full shadow-lg hover:from-purple-500 hover:to-purple-700 hover:shadow-xl transition duration-300 transform hover:scale-105">
    Add to Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>