<footer class="bg-blue-300 text-white p-4 shadow-md">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <p class="text-sm">&copy; <%= new Date().getFullYear() %> Airbnb Clone. All rights reserved.</p>
      <ul class="flex items-center gap-4">
        <li>
          <a href="/privacy-policy" class="hover:bg-red-400 py-2 px-4 rounded-lg transition duration-300">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="/terms-of-service" class="hover:bg-red-400 py-2 px-4 rounded-lg transition duration-300">
            Terms of Service
          </a>
        </li>
        <li>
          <a href="/contact" class="hover:bg-red-400 py-2 px-4 rounded-lg transition duration-300">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>